- if Devise.mappings[:user].recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t(:forgot_password), new_password_path(:user)
  %br/
- if Devise.mappings[:user].confirmable? && controller_name != 'confirmations'
  = link_to t(:no_confirmation_instructions), new_confirmation_path(:user)
  %br/
- if Devise.mappings[:user].lockable? && User.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to t(:no_unlock_instructions), new_unlock_path(:user)
  %br/
